@model ECommerceVersionFinal.LigneCommande

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LigneCommande</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Com_Id, "Com_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Com_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Com_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pro_Id, "Pro_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pro_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Pro_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pan_Id, "Pan_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Pan_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Pan_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantite)
                @Html.ValidationMessageFor(model => model.quantite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prix, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prix)
                @Html.ValidationMessageFor(model => model.prix)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
